<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Counter</title>
  <link rel="stylesheet" href="theme.css" />
</head>
<body>
  <div class="container pt-5" id="app">
    <div class="card center">
      <h1>план по изучению Vue</h1>
      <p>{{itembodyPlan}}</p>
      <div class='menu'>
        <div class='menu_div' v-for="(item, index) in plan" :key="index" v-on:click='clickItem(index)'>
          <div class='cricl' :class="elem>=index ? 'criclactive' : 'criclpassive'"
            :style="{color: elem!=index ? elem>index ? 'darkgreen' :'black'  : 'white'}">{{index+1}}</div>
          <h4>{{item.title}}</h4>
        </div>
      </div>
      <div v-if='start==false'>
        <button class='btn' v-on:click='elem--' :style="{background: elem!=0 ? 'white' : 'grey'} ">назад</button>
        <button class='btn primary ' v-on:click='elem++' v-if='elem!=plan.length-1 '>вперёд</button>
        <button class='btn primary ' v-on:click='start=true' v-else>закончить</button>
      </div>
      <button class='btn' v-on:click='start=false; elem=0' v-else>начать заного </button>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>